@use '../../assets/mixins';

.component-page {}

.header {
  margin: 24px 0;
  h1 {
    margin: 0;
    font-size: 24px;
    line-height: 1.05;
    letter-spacing: -.5px;
  }
  p {
    margin: 4px 0 0;
    font-size: 13px;
    line-height: 1.15;
  }
}

.preview {
  display: flex;
  gap: 16px;
  margin: 24px 0;
  padding: 24px;
  border: 1px dashed hsl(0 0% 75%);
  border-radius: 4px;
  &.center {
    place-content: center;
  }
  @include mixins.sv-dark-mode() {
    border-color: hsl(0 0% 25%);
  }
  .switch1 {
    --dark-switch-width: 78px;
    --dark-switch-height: 36px;
    --dark-switch-padding: 4px;
    --dark-switch-icon-size: 18px;
    --dark-switch-active-offset: 8px;
  }
  .switch2 {
    --dark-switch-width: 36px;
    --dark-switch-height: 36px;
    --dark-switch-padding: 4px;
    --dark-switch-icon-size: 20px;
    --dark-switch-active-offset: 0px;
  }
}

.guide-content {
  --markdown-size-margin: 1rem;
  margin: 42px 0 0;
}
