@use './mixins';

$ratios: '2/1', '1/2', '6/4', '4/6', '4/3', '3/4', '16/9', '21/9';

.redgoose-body {
  // typography
  --color-base: var(--markdown-color-base, hsl(0 0% 0%));
  --color-title: var(--markdown-color-title, hsl(0, 0%, 6.67%));
  --color-key: var(--markdown-color-key, hsl(350 74% 42%));
  --size-text: var(--markdown-size-text, 1rem);
  --size-text-length: var(--markdown-size-text-length, 1.68);

  // margin
  --size-margin: var(--markdown-size-margin, 2rem);
  --size-img-margin: var(--markdown-size-img-margin, #{var(--size-margin) auto});

  // code
  --color-code-text: var(--markdown-color-code-text, hsl(0 0% 0%));
  --color-code-bg: var(--markdown-color-code-bg, hsl(0 0% 95%));

  // blockquote
  --color-blockquote-bg: var(--markdown-color-blockquote-bg, transparent);
  --color-blockquote-outline: var(--markdown-color-blockquote-outline, hsl(0 0% 82%));
  --color-blockquote-line: var(--markdown-color-blockquote-line, var(--color-key));
  --size-blockquote-line: var(--markdown-size-blockquote-line, 6px);
  --size-blockquote-padding: var(--markdown-size-blockquote-line, 1.25rem);

  // table
  --color-table-line: var(--markdown-color-table-line, hsl(0 0% 82%));
  --color-table-head-bg: var(--markdown-color-table-head-bg, hsl(0 0% 95%));

  // hr
  --size-hr-margin: var(--markdown-size-hr-margin, #{5rem 0});
  --size-hr-text: var(--markdown-size-hr-text, 12px);
  --color-hr-text: var(--markdown-color-hr-text, --color-base);

  font-size: var(--size-text);
  line-height: var(--size-text-length);
  color: var(--color-base);

  // dark mode
  &--dark {
    @include mixins.dark-mode() {
      // typography
      --color-base: var(--markdown-color-base, hsl(0 0% 92%));
      --color-title: var(--markdown-color-title, hsl(0, 0%, 100%));
      --color-key: var(--markdown-color-key, hsl(142 76% 46%));
      // code
      --color-code-text: var(--markdown-color-code-text, hsl(41 98% 60%));
      --color-code-bg: var(--markdown-color-code-bg, hsl(0 0% 16%));
      // blockquote
      --color-blockquote-outline: var(--markdown-color-blockquote-outline, hsl(0 0% 16%));
      // table
      --color-table-line: var(--markdown-color-table-line, hsl(0 0% 20%));
      --color-table-head-bg: var(--markdown-color-table-head-bg, hsl(0 0% 10%));
    }
  }

  :where(h1, h2, h3, h4, h5, h6) {
    color: var(--color-title);
  }
  :where(h1, h2, h3) {
    margin: calc(var(--size-margin) * 1.5) 0 calc(var(--size-margin) * .75);
    font-weight: 800;
    line-height: 1.15;
  }
  :where(h4, h5, h6) {
    margin: var(--size-margin) 0 calc(var(--size-margin) * .5);
    font-weight: 700;
    line-height: 1.25;
  }
  h1 { font-size: 2.25em; letter-spacing: -.01em; }
  h2 { font-size: 2em; letter-spacing: -.01em; }
  h3 { font-size: 1.75em; letter-spacing: -.005em; }
  h4 { font-size: 1.5em; letter-spacing: -.005em; }
  h5 { font-size: 1.25em; }
  h6 { font-size: 1em; }
  p {
    margin: var(--size-margin) 0;
    @supports (text-wrap: balance) {
      text-wrap: balance;
    }
  }
  a {
    color: var(--color-key);
  }
  :where(picture, img) {
    display: block;
    margin: var(--size-img-margin);
    max-width: 100%;
  }
  :where(picture img) {
    margin: 0 auto;
    cursor: auto;
  }
  hr {
    display: block;
    margin: var(--size-hr-margin);
    padding: 0;
    border: none;
    &:after {
      content: '●●●';
      display: block;
      text-align: center;
      font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
      font-size: var(--size-hr-text);
      letter-spacing: .75em;
      line-height: 1.15;
      font-weight: 800;
      color: var(--color-hr-text);
    }
  }
  table {
    margin: var(--size-margin) 0;
    border-collapse: collapse;
    box-sizing: border-box;
    :where(th, td) {
      padding: .5rem 1rem;
      border: 1px solid var(--color-table-line);
      box-sizing: border-box;
    }
    thead :where(th, td) {
      background-color: var(--color-table-head-bg);
    }
    tbody td {
      word-break: keep-all;
      word-wrap: break-word;
    }
  }
  a {
    word-break: break-all;
  }
  code {
    word-break: break-word;
    color: var(--color-code-text);
  }
  pre {
    margin: var(--size-margin) 0;
    padding: 1rem;
    background: var(--color-code-bg);
    font-size: calc(1em - 1px);
    line-height: 1.5;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 2px;
    @include mixins.custom-scroll-style();
    > code {
      margin: 0;
      padding: 0;
      background: none;
      white-space: pre;
      border-radius: 0;
      color: var(--color-base);
      font-size: 1em;
    }
  }
  input[type=checkbox] {
    margin-right: 3px;
  }
  iframe {
    display: block;
    margin: var(--size-img-margin);
    max-width: 100%;
  }
  .iframe {
    position: relative;
    margin: var(--size-img-margin);
    aspect-ratio: 16 / 9;
    > iframe {
      width: 100%;
      height: 100%;
    }
  }
  embed {
    display: block;
    max-width: 100%;
    margin: var(--size-img-margin);
  }
  blockquote {
    position: relative;
    margin: var(--size-margin) 0;
    padding: var(--size-blockquote-padding) var(--size-blockquote-padding) var(--size-blockquote-padding) calc(var(--size-blockquote-padding) + var(--size-blockquote-line));
    box-shadow: inset 0 0 0 1px var(--color-blockquote-outline);
    box-sizing: border-box;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: var(--color-blockquote-bg);
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: var(--size-blockquote-line);
      background-color: var(--color-blockquote-line);
    }
    > * {
      margin: 1rem 0;
    }
  }

  // ul
  :where(ul, ol) {
    margin: var(--size-margin) 0;
    padding-left: 1.125rem;
    > li {
      margin: .2rem 0;
      > * {
        margin: .2rem 0;
      }
    }
  }

  :is(h1, h2, h3, h4, h5, h6) + * {
    margin-top: 0;
  }

  *:first-child, > *:first-child {
    margin-top: 0;
  }
  *:last-child, > *:last-child {
    margin-bottom: 0;
  }
  // responsive
  @include mixins.responsive(desktop-1280) {
    @include mixins.retina() {
      img {
        zoom: .75;
      }
    }
  }
}

// grid
.redgoose-body {
  .grid-item {
    --grid-item-columns: 1;
    --grid-item-gap: 10px;
    --grid-item-ratio: unset;
    display: grid;
    grid-template-columns: repeat(var(--grid-item-columns, 1), 1fr);
    grid-gap: var(--grid-item-gap);
    margin: var(--size-img-margin);
    > p {
      position: relative;
      margin: 0;
      box-sizing: border-box;
      grid-column: var(--grid-column, auto);
      aspect-ratio: var(--grid-item-ratio, 1 / 1);
      > img {
        margin: 0;
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
        transform: none;
        box-sizing: border-box;
        object-fit: cover;
      }
    }
    @for $i from 1 through 6 {
      &[data-mobile="#{$i}"] { --grid-item-columns: #{$i}; }
      > p[col="#{$i}"] { --grid-column: span #{$i}; }
    }
    @each $ratio in $ratios {
      &[data-ratio="#{$ratio}"] { --grid-item-ratio: #{$ratio}; }
    }
    @include mixins.responsive(tablet) {
      @for $i from 1 through 6 {
        &[data-tablet="#{$i}"] { --grid-item-columns: #{$i}; }
        > p[col-tablet="#{$i}"] { --grid-column: span #{$i}; }
      }
      @each $ratio in $ratios {
        &[data-ratio-tablet="#{$ratio}"] { --grid-item-ratio: #{$ratio}; }
      }
    }
    @include mixins.responsive(desktop) {
      @for $i from 1 through 6 {
        &[data-desktop="#{$i}"] { --grid-item-columns: #{$i}; }
        > p[col-desktop="#{$i}"] { --grid-column: span #{$i}; }
      }
      @each $ratio in $ratios {
        &[data-ratio-desktop="#{$ratio}"] { --grid-item-ratio: #{$ratio}; }
      }
    }
    @include mixins.responsive(desktop-1440) {
      @for $i from 1 through 6 {
        &[data-desktop-large="#{$i}"] { --grid-item-columns: #{$i}; }
        > p[col-desktop-large="#{$i}"] { --grid-column: span #{$i}; }
      }
      @each $ratio in $ratios {
        &[data-ratio-desktop-large="#{$ratio}"] { --grid-item-ratio: #{$ratio}; }
      }
    }
    @media (max-width: 320px) {
      max-width: 100%;
      transform: none;
      left: auto;
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .grid-group {
    margin: var(--size-img-margin);
    > .grid-item {
      margin-top: var(--grid-item-gap);
      margin-bottom: var(--grid-item-gap);
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
