@charset "UTF-8";
.redgoose-body {
  --mk-color-base: var(--markdown-color-base, hsl(0 0% 0%));
  --mk-color-title: var(--markdown-color-title, hsl(0, 0%, 6.67%));
  --mk-color-key: var(--markdown-color-key, hsl(350 74% 42%));
  --mk-size-text: var(--markdown-size-text, 1rem);
  --mk-size-text-length: var(--markdown-size-text-length, 1.68);
  --mk-size-side-padding: var(--markdown-size-side-padding, 24px);
  --mk-size-margin: var(--markdown-size-margin, 2rem);
  --mk-hd-scroll-margin-top: var(--markdown-head-scroll-margin-top, unset);
  --mk-size-img-margin: var(--markdown-size-img-margin, 4rem 0 2rem);
  --mk-color-code-text: var(--markdown-color-code-text, hsl(140 80% 42%));
  --mk-color-code-bg: var(--markdown-color-code-bg, hsl(0 0% 24%));
  --mk-color-blockquote-bg: var(--markdown-color-blockquote-bg, transparent);
  --mk-color-blockquote-outline: var(--markdown-color-blockquote-outline, hsl(0 0% 82%));
  --mk-color-blockquote-line: var(--markdown-color-blockquote-line, var(--mk-color-key));
  --mk-size-blockquote-line: var(--markdown-size-blockquote-line, 6px);
  --mk-size-blockquote-padding: var(--markdown-size-blockquote-line, 1.25rem);
  --mk-color-table-line: var(--markdown-color-table-line, hsl(0 0% 82%));
  --mk-color-table-head-bg: var(--markdown-color-table-head-bg, hsl(0 0% 95%));
  --mk-size-hr-margin: var(--markdown-size-hr-margin, 5rem 0);
  --mk-size-hr-text: var(--markdown-size-hr-text, 12px);
  --mk-color-hr-text: var(--markdown-color-hr-text, --mk-color-base);
  font-size: var(--mk-size-text);
  line-height: var(--mk-size-text-length);
  color: var(--mk-color-base);
}
html[data-theme=dark] .redgoose-body--dark {
  --mk-color-base: var(--markdown-color-base, hsl(0 0% 92%));
  --mk-color-title: var(--markdown-color-title, hsl(0, 0%, 100%));
  --mk-color-key: var(--markdown-color-key, hsl(142 76% 46%));
  --mk-color-code-text: var(--markdown-color-code-text, hsl(45 100% 60%));
  --mk-color-code-bg: var(--markdown-color-code-bg, hsl(0 0% 16%));
  --mk-color-blockquote-outline: var(--markdown-color-blockquote-outline, hsl(0 0% 16%));
  --mk-color-table-line: var(--markdown-color-table-line, hsl(0 0% 20%));
  --mk-color-table-head-bg: var(--markdown-color-table-head-bg, hsl(0 0% 10%));
}
@media (prefers-color-scheme: dark) {
  html:not([data-theme=light]) .redgoose-body--dark {
    --mk-color-base: var(--markdown-color-base, hsl(0 0% 92%));
    --mk-color-title: var(--markdown-color-title, hsl(0, 0%, 100%));
    --mk-color-key: var(--markdown-color-key, hsl(142 76% 46%));
    --mk-color-code-text: var(--markdown-color-code-text, hsl(45 100% 60%));
    --mk-color-code-bg: var(--markdown-color-code-bg, hsl(0 0% 16%));
    --mk-color-blockquote-outline: var(--markdown-color-blockquote-outline, hsl(0 0% 16%));
    --mk-color-table-line: var(--markdown-color-table-line, hsl(0 0% 20%));
    --mk-color-table-head-bg: var(--markdown-color-table-head-bg, hsl(0 0% 10%));
  }
}
.redgoose-body :where(h1, h2, h3, h4, h5, h6) {
  scroll-margin-top: var(--mk-hd-scroll-margin-top);
  color: var(--mk-color-title);
}
.redgoose-body :where(h1, h2, h3, h4, h5, h6) .anchor {
  display: none;
}
@media (min-width: 768px) {
  .redgoose-body :where(h1, h2, h3, h4, h5, h6) {
    position: relative;
  }
  .redgoose-body :where(h1, h2, h3, h4, h5, h6) .anchor {
    display: block;
    position: absolute;
    left: -42px;
    top: 50%;
    opacity: 0;
    transition: opacity 100ms ease-out;
    transform: translateY(-50%);
    padding: 10px;
    box-sizing: border-box;
  }
  .redgoose-body :where(h1, h2, h3, h4, h5, h6) .anchor svg {
    display: block;
    width: 20px;
    aspect-ratio: 1/1;
    stroke-width: 1.75;
  }
}
@media (min-width: 768px) and (hover: hover) {
  .redgoose-body :where(h1, h2, h3, h4, h5, h6):hover .anchor {
    opacity: 1;
  }
}
.redgoose-body :where(h1, h2, h3) {
  margin: calc(var(--mk-size-margin) * 2) 0 calc(var(--mk-size-margin) * 1.25);
  font-weight: 800;
  line-height: 1.15;
}
.redgoose-body :where(h4, h5, h6) {
  margin: calc(var(--mk-size-margin) * 1.25) 0 calc(var(--mk-size-margin) * 0.75);
  font-weight: 700;
  line-height: 1.25;
}
.redgoose-body h1 {
  font-size: 2.25em;
  letter-spacing: -0.01em;
}
.redgoose-body h2 {
  font-size: 2em;
  letter-spacing: -0.01em;
}
.redgoose-body h3 {
  font-size: 1.75em;
  letter-spacing: -0.005em;
}
.redgoose-body h4 {
  font-size: 1.5em;
  letter-spacing: -0.005em;
}
.redgoose-body h5 {
  font-size: 1.25em;
}
.redgoose-body h6 {
  font-size: 1em;
}
.redgoose-body p {
  margin: var(--mk-size-margin) 0;
}
@supports (text-wrap: balance) {
  .redgoose-body p {
    text-wrap: balance;
  }
}
.redgoose-body a {
  color: var(--mk-color-key);
}
.redgoose-body img {
  --image-width: 100vw;
  display: block;
  width: 100vw;
  max-width: var(--image-width);
  position: relative;
  left: 50%;
  margin: var(--mk-size-img-margin);
  transform: translateX(-50%);
  transform-origin: 50% 50%;
}
@media (min-width: 1024px) {
  .redgoose-body img {
    --image-width: 1000px;
    width: 90vw;
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
  .redgoose-body img {
    zoom: 0.75;
  }
}
@media (min-width: 1440px) {
  .redgoose-body img {
    --image-width: 1400px;
  }
}
@media (max-width: 320px) {
  .redgoose-body img {
    --image-width: 100%;
  }
}
.redgoose-body hr {
  display: block;
  margin: var(--mk-size-hr-margin);
  padding: 0;
  border: none;
}
.redgoose-body hr:after {
  content: "●●●";
  display: block;
  text-align: center;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: var(--mk-size-hr-text);
  letter-spacing: 0.75em;
  line-height: 1.15;
  font-weight: 800;
  color: var(--mk-color-hr-text);
}
.redgoose-body table {
  margin: var(--mk-size-margin) 0;
  border-collapse: collapse;
  box-sizing: border-box;
}
.redgoose-body table :where(th, td) {
  padding: 0.5rem 1rem;
  border: 1px solid var(--mk-color-table-line);
  box-sizing: border-box;
}
.redgoose-body table thead :where(th, td) {
  background-color: var(--mk-color-table-head-bg);
}
.redgoose-body table tbody td {
  word-break: keep-all;
  word-wrap: break-word;
}
.redgoose-body a {
  word-break: break-all;
}
.redgoose-body code {
  padding: 0.2em 0.4em;
  color: var(--mk-color-code-text);
  font-family: "Monaco", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 92%;
  white-space: break-spaces;
  font-weight: 600;
}
.redgoose-body pre {
  margin: var(--mk-size-margin) 0;
  padding: 24px;
  background: var(--mk-color-code-bg);
  font-size: calc(1em - 1px);
  line-height: 1.5;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  box-shadow: 0 4px 36px hsla(0, 0%, 0%, 0.08), 0 8px 24px hsla(0, 0%, 0%, 0.16);
  color-scheme: dark;
  box-sizing: border-box;
}
.redgoose-body pre::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.redgoose-body pre::-webkit-scrollbar-track {
  background: transparent;
}
.redgoose-body pre::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.redgoose-body pre::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
html[data-theme=dark] .redgoose-body pre::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
html[data-theme=dark] .redgoose-body pre::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
@media (prefers-color-scheme: dark) {
  html:not([data-theme=light]) .redgoose-body pre::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }
  html:not([data-theme=light]) .redgoose-body pre::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .redgoose-body pre {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 50%;
    width: calc(100vw - var(--mk-size-side-padding) * 2);
    max-width: 820px;
  }
}
.redgoose-body pre > code {
  margin: 0;
  padding: 0;
  background: none;
  white-space: pre;
  border-radius: 0;
  color: hsl(0, 0%, 90%);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.68;
}
.redgoose-body input[type=checkbox] {
  margin-right: 3px;
}
.redgoose-body iframe {
  display: block;
  margin: var(--mk-size-img-margin);
  max-width: 100%;
}
.redgoose-body .iframe {
  position: relative;
  margin: var(--mk-size-img-margin);
  aspect-ratio: 16/9;
}
.redgoose-body .iframe > iframe {
  width: 100%;
  height: 100%;
}
.redgoose-body embed {
  display: block;
  max-width: 100%;
  margin: var(--mk-size-img-margin);
}
.redgoose-body blockquote {
  position: relative;
  margin: var(--mk-size-margin) 0;
  padding: var(--mk-size-blockquote-padding) var(--mk-size-blockquote-padding) var(--mk-size-blockquote-padding) calc(var(--mk-size-blockquote-padding) + var(--mk-size-blockquote-line));
  box-shadow: inset 0 0 0 1px var(--mk-color-blockquote-outline);
  box-sizing: border-box;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: var(--mk-color-blockquote-bg);
}
.redgoose-body blockquote:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--mk-size-blockquote-line);
  background-color: var(--mk-color-blockquote-line);
}
.redgoose-body blockquote > * {
  margin: 1rem 0;
}
.redgoose-body blockquote > *:first-child {
  margin-top: 0;
}
.redgoose-body blockquote > *:last-child {
  margin-bottom: 0;
}
.redgoose-body :where(ul, ol) {
  margin: var(--mk-size-margin) 0;
  padding-left: 1.125rem;
}
.redgoose-body :where(ul, ol) > li {
  margin: 0.2rem 0;
}
.redgoose-body :where(ul, ol) > li > * {
  margin: 0.2rem 0;
}
.redgoose-body :is(h1, h2, h3, h4, h5, h6) + * {
  margin-top: 0;
}
.redgoose-body > *:first-child,
.redgoose-body > *:first-child *:first-child {
  margin-top: 0;
}
.redgoose-body > *:last-child,
.redgoose-body > *:last-child *:last-child {
  margin-top: 0;
}

.redgoose-body .grid-item {
  --grid-width: 100vw;
  --grid-item-columns: 1;
  --grid-item-gap: 10px;
  --grid-item-ratio: unset;
  display: grid;
  grid-template-columns: repeat(var(--grid-item-columns, 1), 1fr);
  grid-gap: var(--grid-item-gap);
  position: relative;
  left: 50%;
  margin: var(--mk-size-img-margin);
  width: 100vw;
  max-width: var(--grid-width);
  transform: translateX(-50%);
  transform-origin: 50% 50%;
}
@media (min-width: 1024px) {
  .redgoose-body .grid-item {
    --grid-width: 1000px;
    width: 90vw;
  }
}
@media (min-width: 1440px) {
  .redgoose-body .grid-item {
    --grid-width: 1400px;
  }
}
@media (max-width: 320px) {
  .redgoose-body .grid-item {
    --grid-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.redgoose-body .grid-item > p {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  grid-column: var(--grid-column, auto);
  aspect-ratio: var(--grid-item-ratio, 1/1);
}
.redgoose-body .grid-item > p > img {
  position: static;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  transform: none;
  box-sizing: border-box;
  object-fit: cover;
}
.redgoose-body .grid-item[data-mobile="1"] {
  --grid-item-columns: 1;
}
.redgoose-body .grid-item > p[col="1"] {
  --grid-column: span 1;
}
.redgoose-body .grid-item[data-mobile="2"] {
  --grid-item-columns: 2;
}
.redgoose-body .grid-item > p[col="2"] {
  --grid-column: span 2;
}
.redgoose-body .grid-item[data-mobile="3"] {
  --grid-item-columns: 3;
}
.redgoose-body .grid-item > p[col="3"] {
  --grid-column: span 3;
}
.redgoose-body .grid-item[data-mobile="4"] {
  --grid-item-columns: 4;
}
.redgoose-body .grid-item > p[col="4"] {
  --grid-column: span 4;
}
.redgoose-body .grid-item[data-mobile="5"] {
  --grid-item-columns: 5;
}
.redgoose-body .grid-item > p[col="5"] {
  --grid-column: span 5;
}
.redgoose-body .grid-item[data-mobile="6"] {
  --grid-item-columns: 6;
}
.redgoose-body .grid-item > p[col="6"] {
  --grid-column: span 6;
}
.redgoose-body .grid-item[data-ratio="2/1"] {
  --grid-item-ratio: 2/1;
}
.redgoose-body .grid-item[data-ratio="1/2"] {
  --grid-item-ratio: 1/2;
}
.redgoose-body .grid-item[data-ratio="6/4"] {
  --grid-item-ratio: 6/4;
}
.redgoose-body .grid-item[data-ratio="4/6"] {
  --grid-item-ratio: 4/6;
}
.redgoose-body .grid-item[data-ratio="4/3"] {
  --grid-item-ratio: 4/3;
}
.redgoose-body .grid-item[data-ratio="3/4"] {
  --grid-item-ratio: 3/4;
}
.redgoose-body .grid-item[data-ratio="16/9"] {
  --grid-item-ratio: 16/9;
}
.redgoose-body .grid-item[data-ratio="21/9"] {
  --grid-item-ratio: 21/9;
}
@media (min-width: 768px) {
  .redgoose-body .grid-item[data-tablet="1"] {
    --grid-item-columns: 1;
  }
  .redgoose-body .grid-item > p[col-tablet="1"] {
    --grid-column: span 1;
  }
  .redgoose-body .grid-item[data-tablet="2"] {
    --grid-item-columns: 2;
  }
  .redgoose-body .grid-item > p[col-tablet="2"] {
    --grid-column: span 2;
  }
  .redgoose-body .grid-item[data-tablet="3"] {
    --grid-item-columns: 3;
  }
  .redgoose-body .grid-item > p[col-tablet="3"] {
    --grid-column: span 3;
  }
  .redgoose-body .grid-item[data-tablet="4"] {
    --grid-item-columns: 4;
  }
  .redgoose-body .grid-item > p[col-tablet="4"] {
    --grid-column: span 4;
  }
  .redgoose-body .grid-item[data-tablet="5"] {
    --grid-item-columns: 5;
  }
  .redgoose-body .grid-item > p[col-tablet="5"] {
    --grid-column: span 5;
  }
  .redgoose-body .grid-item[data-tablet="6"] {
    --grid-item-columns: 6;
  }
  .redgoose-body .grid-item > p[col-tablet="6"] {
    --grid-column: span 6;
  }
  .redgoose-body .grid-item[data-ratio-tablet="2/1"] {
    --grid-item-ratio: 2/1;
  }
  .redgoose-body .grid-item[data-ratio-tablet="1/2"] {
    --grid-item-ratio: 1/2;
  }
  .redgoose-body .grid-item[data-ratio-tablet="6/4"] {
    --grid-item-ratio: 6/4;
  }
  .redgoose-body .grid-item[data-ratio-tablet="4/6"] {
    --grid-item-ratio: 4/6;
  }
  .redgoose-body .grid-item[data-ratio-tablet="4/3"] {
    --grid-item-ratio: 4/3;
  }
  .redgoose-body .grid-item[data-ratio-tablet="3/4"] {
    --grid-item-ratio: 3/4;
  }
  .redgoose-body .grid-item[data-ratio-tablet="16/9"] {
    --grid-item-ratio: 16/9;
  }
  .redgoose-body .grid-item[data-ratio-tablet="21/9"] {
    --grid-item-ratio: 21/9;
  }
}
@media (min-width: 1024px) {
  .redgoose-body .grid-item[data-desktop="1"] {
    --grid-item-columns: 1;
  }
  .redgoose-body .grid-item > p[col-desktop="1"] {
    --grid-column: span 1;
  }
  .redgoose-body .grid-item[data-desktop="2"] {
    --grid-item-columns: 2;
  }
  .redgoose-body .grid-item > p[col-desktop="2"] {
    --grid-column: span 2;
  }
  .redgoose-body .grid-item[data-desktop="3"] {
    --grid-item-columns: 3;
  }
  .redgoose-body .grid-item > p[col-desktop="3"] {
    --grid-column: span 3;
  }
  .redgoose-body .grid-item[data-desktop="4"] {
    --grid-item-columns: 4;
  }
  .redgoose-body .grid-item > p[col-desktop="4"] {
    --grid-column: span 4;
  }
  .redgoose-body .grid-item[data-desktop="5"] {
    --grid-item-columns: 5;
  }
  .redgoose-body .grid-item > p[col-desktop="5"] {
    --grid-column: span 5;
  }
  .redgoose-body .grid-item[data-desktop="6"] {
    --grid-item-columns: 6;
  }
  .redgoose-body .grid-item > p[col-desktop="6"] {
    --grid-column: span 6;
  }
  .redgoose-body .grid-item[data-ratio-desktop="2/1"] {
    --grid-item-ratio: 2/1;
  }
  .redgoose-body .grid-item[data-ratio-desktop="1/2"] {
    --grid-item-ratio: 1/2;
  }
  .redgoose-body .grid-item[data-ratio-desktop="6/4"] {
    --grid-item-ratio: 6/4;
  }
  .redgoose-body .grid-item[data-ratio-desktop="4/6"] {
    --grid-item-ratio: 4/6;
  }
  .redgoose-body .grid-item[data-ratio-desktop="4/3"] {
    --grid-item-ratio: 4/3;
  }
  .redgoose-body .grid-item[data-ratio-desktop="3/4"] {
    --grid-item-ratio: 3/4;
  }
  .redgoose-body .grid-item[data-ratio-desktop="16/9"] {
    --grid-item-ratio: 16/9;
  }
  .redgoose-body .grid-item[data-ratio-desktop="21/9"] {
    --grid-item-ratio: 21/9;
  }
}
@media (min-width: 1440px) {
  .redgoose-body .grid-item[data-desktop-large="1"] {
    --grid-item-columns: 1;
  }
  .redgoose-body .grid-item > p[col-desktop-large="1"] {
    --grid-column: span 1;
  }
  .redgoose-body .grid-item[data-desktop-large="2"] {
    --grid-item-columns: 2;
  }
  .redgoose-body .grid-item > p[col-desktop-large="2"] {
    --grid-column: span 2;
  }
  .redgoose-body .grid-item[data-desktop-large="3"] {
    --grid-item-columns: 3;
  }
  .redgoose-body .grid-item > p[col-desktop-large="3"] {
    --grid-column: span 3;
  }
  .redgoose-body .grid-item[data-desktop-large="4"] {
    --grid-item-columns: 4;
  }
  .redgoose-body .grid-item > p[col-desktop-large="4"] {
    --grid-column: span 4;
  }
  .redgoose-body .grid-item[data-desktop-large="5"] {
    --grid-item-columns: 5;
  }
  .redgoose-body .grid-item > p[col-desktop-large="5"] {
    --grid-column: span 5;
  }
  .redgoose-body .grid-item[data-desktop-large="6"] {
    --grid-item-columns: 6;
  }
  .redgoose-body .grid-item > p[col-desktop-large="6"] {
    --grid-column: span 6;
  }
  .redgoose-body .grid-item[data-ratio-desktop-large="2/1"] {
    --grid-item-ratio: 2/1;
  }
  .redgoose-body .grid-item[data-ratio-desktop-large="1/2"] {
    --grid-item-ratio: 1/2;
  }
  .redgoose-body .grid-item[data-ratio-desktop-large="6/4"] {
    --grid-item-ratio: 6/4;
  }
  .redgoose-body .grid-item[data-ratio-desktop-large="4/6"] {
    --grid-item-ratio: 4/6;
  }
  .redgoose-body .grid-item[data-ratio-desktop-large="4/3"] {
    --grid-item-ratio: 4/3;
  }
  .redgoose-body .grid-item[data-ratio-desktop-large="3/4"] {
    --grid-item-ratio: 3/4;
  }
  .redgoose-body .grid-item[data-ratio-desktop-large="16/9"] {
    --grid-item-ratio: 16/9;
  }
  .redgoose-body .grid-item[data-ratio-desktop-large="21/9"] {
    --grid-item-ratio: 21/9;
  }
}
@media (max-width: 320px) {
  .redgoose-body .grid-item {
    max-width: 100%;
    transform: none;
    left: auto;
  }
}
.redgoose-body .grid-item:first-child {
  margin-top: 0;
}
.redgoose-body .grid-item:last-child {
  margin-bottom: 0;
}
.redgoose-body .grid-group {
  margin: var(--mk-size-img-margin);
}
.redgoose-body .grid-group > .grid-item {
  margin-top: var(--grid-item-gap);
  margin-bottom: var(--grid-item-gap);
}
.redgoose-body .grid-group > .grid-item:first-child {
  margin-top: 0;
}
.redgoose-body .grid-group > .grid-item:last-child {
  margin-bottom: 0;
}