.dark-mode-image {
  margin: 0;
  padding: 30px;
  /*background: red;*/
  border: 1px solid red;
  & > img {
    display: contents;
    max-width: 100%;
    /*&:where([data-theme=src-light], [data-theme=src-dark]) {*/
    /*  display: none;*/
    /*}*/
    /*&[data-theme=src]:has(html[data-theme=system]) {*/
    /*  display: block;*/
    /*}*/
  }
}

@media (prefers-color-scheme: dark) {
  .dark-mode-image {
    background: lime;
  }
}