.dark-mode-image {
  --display-img-light: block;
  --display-img-dark: none;
  margin: 0;
  box-sizing: border-box;
  & > img {
    max-width: 100%;
    box-sizing: border-box;
    &[data-type=light] {
      display: var(--display-img-light);
    }
    &[data-type=dark] {
      display: var(--display-img-dark);
    }
  }
  &[data-theme=dark] {
    --display-img-light: none;
    --display-img-dark: block;
  }

  @media (prefers-color-scheme: dark) {
    &:not([data-theme=light]) {
      --display-img-light: none;
      --display-img-dark: block;
    }
  }
}
