@use './assets/mixins';

:root {
  --font-base: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-code: 'Monaco', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --size-side-padding: 24px;
  --color-bg: hsl(0 0% 98%);
  --color-base: hsl(0 0% 6.5%);
  --color-key-hsl: 261, 82%, 62%;
  --color-key: hsl(var(--color-key-hsl));
  @include mixins.dark-mode(true) {
    color-scheme: dark;
    --color-bg: hsl(0 0% 8%);
    --color-base: hsl(0 0% 98%);
  }
}

body {
  margin: 0;
  padding: 0 var(--size-side-padding);
  background: var(--color-bg);
}
:where(body, button) {
  font-family: var(--font-base);
  color: var(--color-base);
}

main {
  padding: 0 0 100px;
}
