body {
  --color-key: hsl(350 74% 42%);
  margin: 0;
  padding: 36px 0 72px;
  font-family: 'Pretendard', sans-serif;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  body {
    padding: 48px 0 100px;
  }
}

main {
  box-sizing: border-box;
}

header {
  text-align: center;
  & h1 {
    margin: 0;
    font-family: 'ortsa', sans-serif;
    font-size: 36px;
    line-height: 1.05;
    letter-spacing: -1px;
    color: var(--color-key);
  }
  & p {
    margin: 4px 0 0;
    font-size: 14px;
    line-height: 1.15;
  }
  @media screen and (min-width: 768px) {
    & h1 {
      font-size: 42px;
    }
  }
}

.container {
  margin: 32px 0 0;
}

.assets-link {
  display: grid;
  gap: 6px 0;
  width: calc(100vw - 72px);
  max-width: 480px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
  & a {
    display: block;
    padding: 12px 8px;
    background: hsl(0 0% 12%);
    font-size: 14px;
    color: hsl(0 0% 100%);
    text-decoration: none;
    border-radius: 2px;
    line-height: 1.15;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 160ms ease-out;
    &:active {
      opacity: .5;
    }
  }
}
