.font-preview {
  display: block;
  border-width: 1px 0;
  border-style: solid;
  border-color: hsla(0 0% 0% / 15%);
  &__body {
    padding: 12px 6px;
    line-height: normal;
    font-family: var(--font, var(--font-base));
    font-weight: var(--weight, normal);
    font-size: 42px;
    word-break: break-word;
    &[contenteditable=true] {
      cursor: text;
    }
    &:focus {
      outline: none;
    }
    &:empty:before {
      content: 'Empty text';
      color: hsl(0 0% 65%);
    }
  }
}
